.row1 {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 15% 54% 7% 7% 7% 10%;
    text-decoration: none; 
    
}

.row1 .text1{
    margin: auto;
}
.row2 img {
    margin-left: 15%;
    margin-right: 10%;
    width: 72%;
}

.row2 .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.0em;
}

.row3 {
    margin-left: 15%;
    margin-right: 10%;
    font-size: 110%;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.0em;
}

.thaiiha {
    margin-left: 15%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.thaiiha img {
    border-radius: 20px;
    overflow: hidden;
    width: 95%;
    margin-top: 5%;
}
.line {
    margin-left: 15%;
    margin-right: 10%;
    border-bottom: 1px solid #000;
    display: block;
    width: 68%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.row4 {
    margin-left: 15%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 53% 47%;
}